.appreciate-button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  background-color: bisque;
}

#appreciate {
  padding: 10px;
  border: 1px solid white;
  width: 80px;
  background-color: slateblue;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
#appreciate:hover {
  background-color: white;
  color: slateblue;
}